.container
  .content
    .page-header
      h1 HypeDrop v.1.1
        small Mp3 Delivery Service
    .row
      .span10
        if info != ""
          .alert.alert-success= info

        p
          .input-append
            input.span5#urlInput(type='text', placeholder='http://hypem.com/popular')
            a.btn.btn-small#loadTracksBtn(href='javascript://') Load Tracks!

        br

        #loadingBar(style="display:none")
          | Loading...
          .progress.progress-striped.active 
            .bar(style="width:100%")

        br

        #tracks(style="display:none")

          table.table.table-striped#tracksTable
            thead
              tr
                th
                  input(type='checkbox')
                th Track
                th Length
            tbody
              tr#trackTmpl(style="display:none")
                td
                  input(type='checkbox')
                td 
                  a(href='#') {{title}}
                td {{length}}

          a.btn.btn-primary.btn-large#dropboxBtn(href='javascript://') 
            i.icon-download-alt.icon-white
            | &nbsp; Dropbox

          form#downloadForm(action="/download", method="POST")
            input#trackAttrs(type="hidden", name="tracks")
            input#downloadCookie(type="hidden", name="cookie")
            input#downloadAgent(type="hidden", name="agent")


  br
  footer
    p &copy; yickster 2012
